<div class="jumbotron" style="min-height: 720px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <br><br><br>
        <img src="assets/image/logo.jpg" width="200px" class="user-avatar" />
        <br><br><br>
        <form #login = "ngForm" (ngSubmit) = "onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" class="form-control" [(ngModel)]="userData.username" [ngModelOptions]="{standalone: true}" (change)="this.submitted = false; this.usernameError=false;"
                   [ngClass]="{ 'is-invalid': submitted && usernameError }"/>
            <div *ngIf="submitted && usernameError" class="invalid-feedback">
              <div>Username must have 5-16 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" [(ngModel)]="userData.password" [ngModelOptions]="{standalone: true}" (change)="this.submitted = false; this.passwordError=false;"
                   [ngClass]="{ 'is-invalid': submitted && passwordError }"/>
            <div *ngIf="submitted && passwordError" class="invalid-feedback">
              <div>Password must have 5-16 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary" >
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
