<br/>
<br/>
<div *ngIf="role === 'cashier'">
  <div class="row">
    <a [routerLink]="['/cashier/customer']" routerLinkActive="active" class="menu">Manage Customer</a>
  </div>
  <div class="row">
    <a [routerLink]="['/cashier/customer/facebook']" routerLinkActive="active" class="submenu">Facebook</a>
  </div>
  <div class="row">
    <a [routerLink]="['/cashier/customer/google']" routerLinkActive="active" class="submenu">Google</a>
  </div>
  <br/>
  <br/>
  <div class="row">
    <a [routerLink]="['/cashier/customer/scan']" routerLinkActive="active" class="menu">Scan QR Code</a>
  </div>
</div>

<div *ngIf="role === 'fsmanager'">
  <div class="row">
    <a [routerLink]="['/fsmanager/fss']" routerLinkActive="active" class="menu">Manage FS Staff</a>
  </div>
  <div class="row">
    <a [routerLink]="['/fsmanager/fss/create']" routerLinkActive="active" class="submenu">Create FS Staff Account</a>
  </div>
  <br/>
  <br/>
  <div class="row">
    <a [routerLink]="['/fsmanager/food']" routerLinkActive="active" class="menu">Manage Food</a>
  </div>
  <div class="row">
    <a [routerLink]="['/fsmanager/food/create']" routerLinkActive="active" class="submenu">Create new Food</a>
  </div>
  <br/>
  <br/>
  <div class="row">
    <a [routerLink]="['/fsmanager/fs']" routerLinkActive="active" class="menu">Food Stall Information</a>
  </div>
</div>

<div *ngIf="role === 'admin'">
  <div class="row">
    <a [routerLink]="['/admin/fsm']" routerLinkActive="active" class="menu">Manage FSM</a>
  </div>
  <div class="row">
    <a [routerLink]="['/admin/fsm/create']" routerLinkActive="active" class="submenu">Create FSM Account</a>
  </div>
  <br/>
  <br/>
  <div class="row">
    <a [routerLink]="['/admin/cashier']" routerLinkActive="active" class="menu">Manage Cashier</a>
  </div>
  <div class="row">
    <a [routerLink]="['/admin/cashier/create']" routerLinkActive="active" class="submenu">Create Cashier Account</a>
  </div>
  <br/>
  <br/>
  <div class="row">
    <a [routerLink]="['/admin/foodstall']" routerLinkActive="active" class="menu">Manage Food Stall</a>
  </div>
  <div class="row">
    <a [routerLink]="['/admin/foodstall/create']" routerLinkActive="active" class="submenu">Create Food Stall</a>
  </div>
  <br/>
  <br/>
  <div class="row">
    <a [routerLink]="['/admin/foodcourt']" routerLinkActive="active" class="menu">Food Court Information</a>
  </div>
  <!--<br/>-->
  <!--<br/>-->
  <!--<div class="row">-->
    <!--<a [routerLink]="['/admin/statistics']" routerLinkActive="active" class="menu">View Statistics</a>-->
  <!--</div>-->
</div>

<div *ngIf="role === 'fsstaff'">
  <div class="row">
    <a [routerLink]="['/fsstaff/order']" routerLinkActive="active" class="menu">Manage Order</a>
  </div>
</div>
