<br/>
<br/>
<div *ngIf="role === 'cashier'">
  <div class="row">
    <a [routerLink]="['/cashier']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="menu">List all customer</a>
  </div>
  <div class="row">
    <a [routerLink]="['/cashier']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="menu">Deposit</a>
  </div>
  <div class="row">
    <a [routerLink]="['/cashier']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="menu">Withdraw</a>
  </div>
</div>

<div *ngIf="role === 'admin'">
  <div class="row">
    <a [routerLink]="['/admin/fsm']" routerLinkActive="active" class="menu">Manage FSM</a>
  </div>
  <div class="row">
    <a [routerLink]="['/admin/fsm/create']" routerLinkActive="active" class="submenu">Create FSM Account</a>
  </div>
  <div class="row">
    <a [routerLink]="['/admin/fsm/delete']" routerLinkActive="active" class="submenu">Delete FSM Account</a>
  </div>
  <br/>
  <br/>
  <div class="row">
    <a [routerLink]="['/admin/cashier']" routerLinkActive="active" class="menu">Manage Cashier</a>
  </div>
  <div class="row">
    <a [routerLink]="['/admin/cashier/create']" routerLinkActive="active" class="submenu">Create Cashier Account</a>
  </div>
  <div class="row">
    <a [routerLink]="['/admin/cashier/delete']" routerLinkActive="active" class="submenu">Delete Cashier Account</a>
  </div>
  <br/>
  <br/>
  <div class="row">
    <a [routerLink]="['/admin/foodcourt']" routerLinkActive="active" class="menu">Edit Food Court Information</a>
  </div>
  <br/>
  <br/>
  <div class="row">
    <a [routerLink]="['/admin/statistics']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="menu">View Statistics</a>
  </div>
</div>
