<div class="profile-body row col-md-12" style="margin-top: 20px;">
  <div class="col col-sm-8">
    <div class="card mb-3">
      <div class="card-header">
        Edit Profile
      </div>
      <div role="form">
        <div class="card-body">
          <div class="form-content row" *ngIf="ready">
            <div class="form-group col-sm-12 col-md-4 col-lg-4">
              <label>Username:</label>
              <input type="text" class="form-control input-underline input-lg" disabled name="username" [(ngModel)]="dataUpdate.username">
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-4">
              <label>First Name:</label>
              <input type="text" class="form-control input-underline input-lg" [(ngModel)]="dataUpdate.firstName">
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-4">
              <label>Last Name:</label>
              <input type="text" class="form-control input-underline input-lg" [(ngModel)]="dataUpdate.lastName">
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Age:</label>
              <input type="text" class="form-control input-underline input-lg" [(ngModel)]="dataUpdate.age">
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Role:</label>
              <input type="text" class="form-control input-underline input-lg" [(ngModel)]="role" disabled>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-info btn-sm" (click)="updateProfile()">Update</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <div class="logo-img">
        </div>
        <h3>FCMS</h3>
        <a [routerLink]="['/changepass']">
          <i class="fa fa-fw fa-user"></i>Change password
        </a>
      </div>

    </div>
  </div>

</div>

<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true  }"
    [template]="customLoadingTemplate">
</ngx-loading>
