<ng-template #customLoadingTemplate>
  <div class="custom-class">
  </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>

<div class="main-content" style="margin-top: 10px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Create New FS Staff</h4>
          </div>
          <div class="card-body">
            <div>
              <br>
              <form class="form-horizontal" [formGroup]="fssForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <div class="col-sm-1"></div>
                  <label class="control-label col-sm-2" for="1">Username <span>*</span></label>
                  <div class="col-sm-5">
                    <input formControlName="username" type="text" maxlength="20" class="form-control" id="1">
                  </div>
                  <div class="col-sm-4">
        <span *ngIf="!fssForm.get('username').valid && fssForm.get('username').touched" class="help-block">
          <span *ngIf="fssForm.get('username').errors && fssForm.get('username').errors['invalid']">Username has already existed. Please try another username.</span>
          <span *ngIf="fssForm.get('username').errors">Username must have 6-20 characters</span>
        </span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-1"></div>
                  <label class="control-label col-sm-2" for="5">Password <span>*</span></label>
                  <div class="col-sm-5">
                    <input formControlName="password" type="password" maxlength="20" class="form-control" id="5">
                  </div>
                  <div class="col-sm-4">
        <span *ngIf="!fssForm.get('password').valid && fssForm.get('password').touched" class="help-block">
          <span>Password must have 6-20 characters</span>
        </span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-1"></div>
                  <label class="control-label col-sm-2" for="2">Firstname:  <span>*</span></label>
                  <div class="col-sm-5">
                    <input formControlName="firstName" type="text" class="form-control" id="2" maxlength="50">
                  </div>
                  <div class="col-sm-4">
        <span *ngIf="!fssForm.get('firstName').valid && fssForm.get('firstName').touched" class="help-block">
          <span>First Name can't be blank</span>
        </span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-1"></div>
                  <label class="control-label col-sm-2" for="3">Lastname:  <span>*</span></label>
                  <div class="col-sm-5">
                    <input formControlName="lastName" type="text" class="form-control" id="3" maxlength="50">
                  </div>
                  <div class="col-sm-4">
        <span *ngIf="!fssForm.get('lastName').valid && fssForm.get('lastName').touched" class="help-block">
          <span>Last Name can't be blank</span>
        </span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-1"></div>
                  <label class="control-label col-sm-2" for="4">YOB:  <span>*</span></label>
                  <div class="div col-sm-5">
                    <input formControlName="age" type="number" class="form-control" id="4">
                  </div>
                  <div class="col-sm-4">
        <span *ngIf="!fssForm.get('age').valid && fssForm.get('age').touched" class="help-block">
          <span>YOB must >1900</span>
        </span>
                  </div>
                </div>

                <div class="form-group">
                  <hr>
                  <div class="col-sm-6"></div>
                  <div class="col-sm-2">
                    <button class="btn btn-default" style="width: 100%" type="button" (click)="onClear()">Clear</button>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-md-2">
                    <button class="btn btn-primary" style="width: 100%" type="submit">Create</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!--<div class="row" style="padding-left: 40px;">-->
  <!--<br>-->
  <!--<h4>Create New FS Staff</h4>-->
  <!--<hr>-->
<!--</div>-->
<!--<div class="row" *ngIf="showError">-->
<!--<div class="alert alert-danger alert-dismissible">-->
<!--<a class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--All fields are required-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
  <!--<br>-->
  <!--<form class="form-horizontal" [formGroup]="fssForm" (ngSubmit)="onSubmit()">-->
    <!--<div class="form-group">-->
      <!--<div class="col-sm-1"></div>-->
      <!--<label class="control-label col-sm-2" for="1">Username <span>*</span></label>-->
      <!--<div class="col-sm-5">-->
        <!--<input formControlName="username" type="text" maxlength="20" class="form-control" id="1">-->
      <!--</div>-->
      <!--<div class="col-sm-4">-->
        <!--<span *ngIf="!fssForm.get('username').valid && fssForm.get('username').touched" class="help-block">-->
          <!--<span *ngIf="fssForm.get('username').errors && fssForm.get('username').errors['invalid']">Username has already existed. Please try another username.</span>-->
          <!--<span *ngIf="fssForm.get('username').errors">Username must have 6-20 characters</span>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<div class="col-sm-1"></div>-->
      <!--<label class="control-label col-sm-2" for="5">Password <span>*</span></label>-->
      <!--<div class="col-sm-5">-->
        <!--<input formControlName="password" type="password" maxlength="20" class="form-control" id="5">-->
      <!--</div>-->
      <!--<div class="col-sm-4">-->
        <!--<span *ngIf="!fssForm.get('password').valid && fssForm.get('password').touched" class="help-block">-->
          <!--<span>Password must have 6-20 characters</span>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<div class="col-sm-1"></div>-->
      <!--<label class="control-label col-sm-2" for="2">Firstname:  <span>*</span></label>-->
      <!--<div class="col-sm-5">-->
        <!--<input formControlName="firstName" type="text" class="form-control" id="2" maxlength="50">-->
      <!--</div>-->
      <!--<div class="col-sm-4">-->
        <!--<span *ngIf="!fssForm.get('firstName').valid && fssForm.get('firstName').touched" class="help-block">-->
          <!--<span>First Name can't be blank</span>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<div class="col-sm-1"></div>-->
      <!--<label class="control-label col-sm-2" for="3">Lastname:  <span>*</span></label>-->
      <!--<div class="col-sm-5">-->
        <!--<input formControlName="lastName" type="text" class="form-control" id="3" maxlength="50">-->
      <!--</div>-->
      <!--<div class="col-sm-4">-->
        <!--<span *ngIf="!fssForm.get('lastName').valid && fssForm.get('lastName').touched" class="help-block">-->
          <!--<span>Last Name can't be blank</span>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<div class="col-sm-1"></div>-->
      <!--<label class="control-label col-sm-2" for="4">Age:  <span>*</span></label>-->
      <!--<div class="div col-sm-5">-->
        <!--<input formControlName="age" type="number" class="form-control" id="4">-->
      <!--</div>-->
      <!--<div class="col-sm-4">-->
        <!--<span *ngIf="!fssForm.get('age').valid && fssForm.get('age').touched" class="help-block">-->
          <!--<span>Age must from 18-60</span>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<hr>-->
      <!--<div class="col-sm-6"></div>-->
      <!--<div class="col-sm-2">-->
        <!--<button class="btn btn-default" style="width: 100%" type="button" (click)="onClear()">Clear</button>-->
      <!--</div>-->
      <!--<div class="col-sm-1"></div>-->
      <!--<div class="col-md-2">-->
        <!--<button class="btn btn-primary" style="width: 100%" type="submit">Create</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->
