<div class="row">
  <div class="div col-lg-2">
    <img style="width: 100px;" class="img-responsive" [src]="image">
  </div>
  <div class="div col-lg-7">
    <h1 class="header"><strong>Food Court Management System</strong></h1>
  </div>
  <div class="div col-lg-1">
    <br>
    <p class="hello" style="float: right;">Hello, </p>
  </div>
  <div class="div col-lg-2" *ngIf="isLogin">
    <br>
    <a class="hello" style="cursor: pointer;">admin</a>
    <a (click)="logout()" class="hello" style="cursor: pointer;">(logout)</a>
  </div>

</div>
