<div class="row" style="padding-left: 40px;">
  <br>
  <h4>Food Stall Information</h4>
  <hr>
</div>
<!--<div class="row" *ngIf="showError">-->
<!--<div class="alert alert-danger alert-dismissible">-->
<!--<a class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--All fields are required-->
<!--</div>-->
<!--</div>-->
<div>
  <br>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-1"></div>
      <label class="control-label col-sm-2" for="7">FS ID</label>
      <div class="col-sm-5">
        <input [value]="fsId" readonly type="text" maxlength="50" class="form-control" id="7">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-1"></div>
      <label class="control-label col-sm-2" for="6">FS Name</label>
      <div class="col-sm-5">
        <input [value]="fsName" readonly type="text" maxlength="50" class="form-control" id="6">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-1"></div>
      <label class="control-label col-sm-2" for="1">Description</label>
      <div class="col-sm-5">
        <textarea style="height: 200px;" [value]="fsDescription" readonly type="text" maxlength="500" class="form-control" id="1"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-1"></div>
      <label class="control-label col-sm-2" for="2">Rating</label>
      <div class="col-sm-5">
        <input [value]="fsRating" readonly type="text" class="form-control" id="2">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-1"></div>
      <label class="control-label col-sm-2">Image</label>
      <div class="col-sm-5">
        <img [src]="fsImage" class="img-responsive">
      </div>
    </div>
    <div class="form-group">
      <hr>
      <div class="col-sm-6"></div>
      <div class="col-sm-2">
        <button class="btn btn-info" style="width: 100%" type="button" (click)="onEditInfo()">Edit Information</button>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </form>
</div>
