<div>
    <h1>List of Cart</h1>
  </div>
  
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Total Price</th>
      <th>Purchase Date</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cart of carts">
      <td>{{ cart.id }}</td>
      <td>{{ cart.totalPrice }}</td>
      <td>{{ cart.purchaseDate }}</td>
      <td>{{ cart.cartStatus }}</td>
      <td><button (click)="onViewDetail(cart.id)" type="button">View Detail</button></td>
    </tr>
    </tbody>
  </table>
  